h1 {
  color: white;
  text-align: left;
  background-color: black;
  font-size: 4rem;
}
a {
  color: white;
  background-color: green;
  padding: 0.5em 1em;
  font-size: 2rem;
  float: right;
}
h2 {
  color: white;
  background-color: darkblue;
  text-align: center;
  font-size: 2rem;
}
.art-museum{
  position: relative;
}

.top-left {
  color: white;
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 2rem
}
p {
  color: white;
  background-color: black;
  font-size: 1.25rem;
  text-align: center;
}

h3 {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 1rem;
}

footer {
  color: white;
  font-size: 1rem;
  background-color: black;
}
